<%- include('../partials/header') %>

    <table>
        <thead>
            <tr>
                <th>Airline</th>
                <th>Airport</th>
                <th>Flight Number</th>
                <th>Departs</th>
                <th>Destination</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <%= flight.airline %>
                </td>
                <td>
                    <%= flight.airport %>
                </td>
                <td>
                    <%= flight.flightNo %>
                </td>
                <td>
                    <%= flight.departs %>

                </td>
                <td>
                    <%= flight.destination %>
                        <form id="add-destination" method="POST" action="/flights/<%= flight._id %>/destinations">

                            <select name="airport">
                                <option value="AUS">AUS</option>
                                <option value="LAX">LAX</option>
                                <option value="DFW">DFW</option>
                                <option value="DEN">DEN</option>
                                <option value="SAN">SAN</option>
                            </select>
                            <input type="submit" value="Add Destination">
                            <input type="datetime-local" name="arrival" placeholder="Arrival">

                        </form>
                </td>
            </tr>
        </tbody>
    </table>



    <%- include('../partials/footer') %>